.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  z-index: 1000;
  transition: background 0.3s ease;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.links a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover elegante */
.links a:hover {
  color: #facc15; /* amarillo tipo deportivo */
}

/* Indicador activo */
.links a.active {
  color: #facc15;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #facc15;
  transition: width 0.3s ease;
}

.links a:hover::after {
  width: 100%;
}

.links a.active::after {
  width: 100%;
}